# Python bytecode 파일
__pycache__/
*.pyc

# 환경 설정 파일
.env
*.env

# 가상 환경
venv/
env/
*.venv/

# 시스템 파일
.DS_Store
Thumbs.db

# IDE 설정 파일 (예: VSCode, PyCharm)
.vscode/
.idea/

# 로그 파일
*.log

# 요구 사항 파일 (예: 가상 환경 관련)
requirements.txt

# 기타 빌드 파일
build/
dist/
*.egg-info/

# TDMS 파일 경로 제외
tdms/
